 a:hover{
	 text-decoration:none;
	 color:#e5c759;
	 cursor:pointer;
  }
  body{
	  font-family:Arial, Helvetica, sans-serif;
	  background-color:#f7f7f9 !important;
	  }
  #editor_panel {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1001;
    border-left: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }

  #editor_panel_body {
    width: 900px;
    height: 100%;
    margin-right: -1000px;
  }

  #editor_panel_body iframe {
    width: 100%;
    height: 100%;
  }
  .myhead{
      box-shadow: 1px 1px 1px #e0dddd;
	  /*//float:left;*/
	  width:100%;  
	  background-color:#FFF !important; padding:0px 40px;
	  height:70px;
	  /*border-bottom:1px solid #f1f1f1;*/
  }
  .mynav{
      box-shadow: 1px 1px 1px #e0dddd;
	  width:100%;
      height: 70px;
      float:left;
      background-color:#FFF !important; padding:0px 40px;
  }
  
  .navbt{
	  line-height:56px;
	  font-family:Arial, Helvetica, sans-serif;
	  text-align:center;
	  font-size:13px;
	  width:100px;
	  color:#5c5c5c;
	  margin-top:10px; 
	  margin-left:10px;
      /*background-color:#FFF !important; padding:0px 40px;*/
      float:left;
	  position:relative;	 
  }
  
  .mylast{
  	  width:20%; 
	  float:right;
  }
  .mylast div{
  	  float:left;
  }
 
  .mybreak{
     box-shadow: 1px 1px 1px #e0dddd;;
	 width:100%; 
	 float:left; 
	 margin:20px 0px; 
	 padding:16px 40px;
	 background-color:#FFF;
	/* border:1px solid #f1f1f1;*/
	 z-index:-9999px; 
  }
  .myicoc{width:12%; float:left;}
  .myico{width:134px; margin-top:12px;}
  .mynavsub{ padding-top:10px; background-color:#FFF !important; z-index:99999999;  display:none; position:absolute; top:60px; left:0; /**border:1px solid #fece08;**/ border-top:0px; width:140px;box-shadow: 2px 2px 5px 2px#bbb;}
  .mynavsub li{
	  background-color:#FFF;
	  text-align:left;
	  padding-left:20px;
	  width:120px;
	  height:35px;
	  line-height:35px;
	 
  }
  .icod{
  	  margin-top:3px;
  }
  
  .mylasta{
	 
	  text-align:center;
	  font-size:12px;
	 
	  width:60px;
	  
	  margin-top:30px; 
	  margin-left:20px;
	  float:left;	 
  }
  .mesico{position:relative;}
  .mesicoa{
  	 font-size:24px; margin-top:5px; 
  }
  .mesicob{
	  background-color:#f7d208;
	  width:18px;
	  height:18px;
	  line-height:20px;
	  text-align:center;
	  border-radius:10px;
	  position:absolute;
	  border:1px solid #999;
	  font-size:12px;
	  top:-5px;
	  right:3px;	 
  }
  .tds{
	  border-bottom:4px #f6ca07 solid;
  }
  .tds a{
  	 color:#5c5c5c !important;
  }
  .tdsb{
	  background-color:#f6ca07 !important; color:#fff;
  }
  .tdsba{
	  color:#000 !important;
  }
.myhead .mynav .navbt .mynavsub li a{ color:#888;}
 #editor_panel {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1001;
    border-left: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }

  /*快速搜索样式*/
  .search-input{position: relative}
  .search-icon{margin-top:5px;width:18px;height:18px;color:silver;position:absolute;right: 67px;background-size:18px 18px;opacity: 0.7}
  .search-fast{position: relative;width: 400px}
  .search-fast .fast-open{line-height: 16px;background-color: #ffffff;color: #fece08;border: 1px solid #ccc;border-radius: 4px;margin-left: 5px}
  .search-fast #fst_search{display:none;background-color: #ffffff;position: absolute;width: 500px;border: 1px solid #ccc;z-index: 9;border-radius: 4px;box-shadow:0 3px 8px rgba(0, 0, 0, 0.28);}
  .search-fast .search-header{padding:0px 20px; background-color:#e8e8e8; font:14px/44px Arial, Helvetica, sans-serif; color:#666; height:44px; font-weight:bold; margin-bottom:35px;}
  .search-fast .search-content{min-height: 250px;overflow-y: auto;text-align:center; margin:0px 40px;}
  .search-fast .search-content .form-group{height: 30px;line-height: 30px;clear:both; }
  .search-fast .search-content .form-group .control-label{line-height:30px;margin:0 20px;width:70px; text-align:right; color:#666; font-size:12px;}
  .search-fast .search-content span{padding: 0 30px 0 0}
  .search-fast .search-footer{ background-color:#f7f7f9;text-align:right; height:58px; padding:0px 30px;}
  .search-fast .search-footer .btn{margin: 12px 5px 0 5px;padding: 5px 40px;border-radius: 4px;background-color: #fece08;color: #ffffff}
  .search-fast .search-footer .btn :hover{background-color: #ff9f00;}
  #search_reset{background-color: #ffffff;color:#666;border: 1px solid #ccc}

  /*tab切换样式*/
  #myTab{margin-bottom: 0}
  #myTab li a:hover{border-radius:0;}
  #myTab li a{padding:10px 20px}
  #myTab .active a{border: 1px solid #e3e3e3; border-right:0px;border-bottom:none;border-top: 3px solid #fece08;}
  #myTab .active a{border-radius: 0px;color: #fece08}
  .table-tab{background-color:#ffffff;margin-top: 0;border-top: none}
  .table-checkbox{width: 20px}

  body{background-color: #f7f7f9;}
.nav-tabs>li{width:110px; text-align:center; font-size:14px; font-weight:bold; border:1px solid #e3e3e3;border-bottom:0px;border-left: 0px; float:left; background-color:#f7f7f9;}
.table thead th{ line-height:45px;}
.table td{ line-height:40px;}
.btn{text-shadow: 0 0px 0px rgba(255,255,255,0.75);padding: 6px 28px;}
.btn-csy {
    color: #666666; font-size:12px;
    background-color: #fff;
	border:1px solid #bbbbbb;
	border-radius: 4px;
}
.btn-csy:hover{
    color: #fff;
    background-color: #fece08;
	border:1px solid #fece08;
}
.add_icon{display: inline-block;
    width: 13px;
    height: 13px;
    vertical-align: top; background-image: url(../icon/add_w.png); margin-right:10px; margin-top:4px;
    content: "";}
.search_icon{display: inline-block;
    width: 16px;
    height: 17px;
    vertical-align: top; background-image: url(../icon/search.png);margin-top:6px; position:absolute;left:195px;
    content: "";}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    display: inline-block;
    height: 20px;
    padding: 4px 6px;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 20px;
    color: #666;
    vertical-align: middle;
	padding-left:10px;
}
input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    background-color: #fff;
	 
    border: 1px solid #e3e3e3;
    transition: border linear .2s, box-shadow linear .2s;
}
.search_open{margin-left:50px; cursor:pointer; line-height:36px;}
.fast_close{width:25px;height:25px; display: inline-block; background-image:url(../icon/close.png); margin-top:8px;}
  .modal-header {
	background-color:#e3e3e3;
    height: 36px;
    padding: 15px 30px;
}
.modal-header h4{
	line-height:36px;
	}

.form-control{
    height:30px;
    font-size: 12px !important;
    color: #666;
    background-color: #fff;
    background-image: none;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
}
.btn-warning {
    color: #fff;
    background-color: #fece08;
    border-color: #eea236;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12
{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 0px; }
.form-horizontal a {
    text-decoration: none!important;
    color: #ff9f00!important;
    cursor: default;
}
    .title h3{
		font-size:14px;
		font-weight:bold;
        margin:0;
        padding:0 16px;
        padding-bottom:14px;
        line-height:32px;
    }
.title .close {
    font-size: 24px;
    width: 32px;
    height: 32px;
    line-height: 34px;
    background-color: #fff;
    border-radius: 4px;
    text-align: center;
    margin-left: 10px;
	border:1px solid #e3e3e3;
}
.nav-tabs>li>a:hover { border-color:#eee #eee #eee;}
.nav-tabs{ width:100%;min-width: 700px;}
#myTab li a{ color:#666;}
.tab-more>li{ font-size:12px;}
.nav-tabs>li>a {
     margin-right: 0px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #666;
    cursor: default;
    background-color: #fff;
    border: 1px solid #e3e3e3;
	border-right:0px;
    border-bottom-color: transparent;
}
input:focus{outline:none;border:1px solid #fece08;outline-offset: -2px;}
.handle{ margin-top:30px; margin-left:10px;}


 .dataTables_filter {display: none!important;}
 .dataTables_length{display: none!important;}
 .fg-toolbar{border: none!important;}

.row-fluid{

}
.tab-content{
    box-shadow: 2px 2px 5px 1px #bbb;
}


/*小于1042px*/
 @media (max-width: 1042px) {
     .mynav{
         display: none;
     }
     .navbt{

     }

 }
