<!DOCTYPE html>
<html lang="en">
<head>
  <include file="Public:metra"/>
  <!--样式-->
  <include file="Public:css"/>
  <!--样式end-->
  
  <!-- HTML5 Support for IE -->
  <!--[if lt IE 9]>
  <script src="js/html5shim.js"></script>
  <![endif]-->

  <!-- Favicon -->
  <link rel="shortcut icon" href="img/favicon/favicon.png">
</head>

<body>

<!--导航-->
<include file="Public:nav"/>
<!--导航end-->

<!--头部-->
<include file="Public:header"/>
<!--头部end-->

<!-- Main content starts -->

<div class="content">

     <!--菜单-->
  <include file="Public:menu"/>
  <!--菜单end-->

  	<!-- Main bar -->
  	<div class="mainbar">

      <!--面包屑导航-->

      <include file="Public:bread"/>

      <!--面包屑导航end-->

	    <!-- Matter -->

	    <div class="matter">
        <div class="container">

          <div class="row">
            <div class="col-md-12">
              <div class="widget wgreen">
                <div class="widget-head">
                  <div class="pull-left">条件筛选</div>
                  <div class="widget-icons pull-right">
                    <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a>
                    <a href="#" class="wclose"><i class="icon-remove"></i></a>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="widget-content">
                  <div class="padd">
                    <hr />
                    <!-- Form starts.  -->
                    <!--form action="<{:U('Consultancy/index')}>" method="get" class="form-horizontal" role="form"-->
                    <form id="check"  method="get" class="form-horizontal"  action="{:U('article/index')}">
                      <!--类型-->
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="col-lg-4 control-label">类型</label>
                          <div class="col-lg-8">
                            <select class="form-control" data-style="btn-inverse" name="type">
                              <option value=""  <if condition="$_GET['type'] eq ''  ">selected = "selected"</if>>类型查询</option>
                              <volist name="type" id="vo">
                              <option value="{$vo.id}" <if condition="$vo['id'] eq $_GET['type']">selected</if>>{$vo.name}</option>
                                </volist>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="col-lg-4 control-label">文章列表</label>
                          <div class="col-lg-8">
                            <select class="form-control" data-style="btn-inverse" name="columuid">
                              <option value="" <if condition="$_GET['columuid'] eq ''  ">selected = "selected"</if>>栏目查询</option>
                              <volist name="columuid" id="vo">
                                <option value="{$vo.id}" <if condition="$vo['id'] eq $_GET['columuid']">selected</if>>{$vo.name}</option>
                              </volist>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="col-lg-4 control-label">作者</label>
                          <div class="col-lg-8">
                            <select class="form-control" data-style="btn-inverse" name="uid">
                              <option value="" <if condition="$_GET['uid'] eq ''  ">selected = "selected"</if>>作者查询</option>
                              <volist name="uid" id="vo">
                                <option value="{$vo.id}" <if condition="$vo['id'] eq $_GET['uid']">selected</if>>{$vo.username}</option>
                              </volist>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="col-lg-4 control-label">状态</label>
                          <div class="col-lg-8">
                            <select class="form-control" data-style="btn-inverse" name="state">
                              <option value="" <if condition="$_GET['state'] eq ''">selected = "selected"</if>>平台查询</option>
                                <option value="1" <if condition="$_GET['state'] eq 1">selected = "selected"</if>>启用</option>
                                <option value="2" <if condition="$_GET['state'] eq 2">selected = "selected"</if>>禁用</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="clearfix"></div>
                      <!--类型END-->
                      <div class="col-md-12">
                        <hr/>
                      </div>
                      <!--分配人员和接单人员-->
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="col-lg-4 control-label">输入关键字</label>
                          <div class="col-lg-8">
                            <input placeholder="输入关键字" name="search" class="form-control"  value="{$_GET['search']}">
                          </div>
                        </div>
                      </div>

                      <div class="clearfix"></div>

                      <div class="clearfix"></div>
                      <div class="col-md-12">
                        <hr/>
                      </div>
                      <!--分配人员和接单人员END-->


                      <!--时间-->
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="col-lg-4 control-label">开始日期</label>
                          <div class="col-lg-8">
                            <input placeholder="请选择开始日期" name="data1" class="form-control" onclick="laydate()" value="{$_GET['data1']}">
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="col-lg-4 control-label">结束日期</label>
                          <div class="col-lg-8">
                            <input placeholder="请选择结束日期" name="data2" class="form-control" onclick="laydate()" value="{$_GET['data2']}">
                          </div>
                        </div>
                      </div>
                      <!--时间END-->
                      <div class="form-group">
                      </div>
                  </div>
                </div>

                <div class="widget-foot">
                  <!--button type="submit" class="btn btn-success">提交</button-->
                  <input name="sub" type="submit" class="btn btn-default" value="提交">
                  <a id="add" class="btn btn-default">新增文章</a>
                  <a href="{:U('article/type')}" class="btn btn-default">类型</a>
                  <a href="{:U('article/tag')}" class="btn btn-default">标签</a>
                  <!--<input name="sub" type="submit" class="btn btn-default" value="批量启用">-->
                  <!--<input name="sub" type="submit" class="btn btn-default" value="批量禁用">-->
                </div>
              </div>
              </form>
          <!-- Table -->
            <div class="row">
              <div class="col-md-12">
                <div class="widget">
                <div class="widget-head">
                  <div class="pull-left">文章（{$count}）</div>
                  <div class="widget-icons pull-right">
                    <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a> 
                    <a href="#" class="wclose"><i class="icon-remove"></i></a>
                  </div>  
                  <div class="clearfix"></div>
                </div>
                  <div class="widget-content">
                    <table class="table table-striped table-bordered table-hover">
                      <thead>
                        <tr>
                          <th class="col-lg-1">#</th>
                          <th class="col-lg-4">文章标题</th>
                          <th class="col-lg-1">作者</th>
                          <th class="col-lg-1">类型</th>
                          <th class="col-lg-1">栏目</th>
                          <th class="col-lg-1">访问量</th>
                          <th class="col-lg-1">添加时间</th>
                          <th class="col-lg-1">标签</th>
                        </tr>
                      </thead>
                      <tbody>
                      <volist name="list" id="vo">
                        <tr class="{$vo.class}" id="{$vo.id}">
                          <td>{$vo.id}</td>
                          <td><a style="color:#ff9f00;" class="openRecord" url="{:U('article/edit',array('id'=>'accountId'))}">{$vo.title}</a>
                          {$vo.mark}
                          </td>
                          <td>{$vo.uid|getName=###}</td>
                          <td>{$vo.type|get_name=type,###}</td>
                          <td>{$vo.columuid|get_name=columu,###}</td>
                          <td>{$vo.view}</td>
                          <td>{$vo.time}</td>
                          <td>{$vo.tag|tl=###,1},{$vo.tag|tl=###,2}</td>
                        </tr>
                      </volist>
                      </tbody>
                    </table>

                    <div class="widget-foot">

                     
                        <ul class="pagination pull-right">
                          {$page}
                        </ul>
                     
                      <div class="clearfix"></div> 

                    </div>

                  </div>

                </div>


              </div>

            </div>
        </div>
		  </div>

		<!-- Matter ends -->

    </div>

   <!-- Mainbar ends -->	    	
   <div class="clearfix"></div>

</div>
<!-- Content ends -->
      <script src="__ADMIN__/js/laydate.js"></script> <!-- Charts & Graphs -->
<!--foot-->
<include file="Public:foot"/>
<!--foot end-->

<!-- Scroll to top -->
<span class="totop"><a href="#"><i class="icon-chevron-up"></i></a></span>

<!--js-->
<include file="Public:js"/>
<!--js end-->

</div></div>

<div id="editor_panel">
  <div id="editor_panel_body" style="margin-right: -1300px;width: 1300px;" >
    <iframe src="" frameborder="0" id="account-iframe"></iframe>
  </div>
</div>

<script>
  $("#add").click(function(){
    var url = "{:U('article/add')}";
    layer.open({
      type: 2,
      title: '添加文章',
      closeBtn: 0, //不显示关闭按钮
      //shadeClose: true,
      shade: [0],
      area: ['1700px', '700px'],
      //offset: 'rb', //右下角弹出
      //time: 2000, //2秒后自动关闭
      anim: 2,
      content: [url], //iframe的url，no代表不显示滚动条
    });
  });
</script>

<script>
  $('.openRecord').click(function(event){
    var index = layer.load(2, {
      content: '数据加载中',
      shade: [0.4, '#393D49'],
      // time: 10 * 1000,
      success: function(layero) {
        layero.css('padding-left', '30px');
        layero.find('.layui-layer-content').css({
          'padding-top': '40px',
          'width': '70px',
          'background-position-x': '16px'
        });
      }
    })
    var _iframe = $('#editor_panel_body iframe');
    //获取这个职工的id
    accountId = $(this).parents('tr').attr('id');
    //生成url链接
    var url=$(this ).attr('url');
    //替换参数
    str1 =  url.replace("accountId",accountId);
    openEditorPanel(_iframe, str1, event);
    layer.close(index);
  });

  function openEditorPanel(iframe, iframeSrc, event) {
    $('#editor_panel_body').animate({'margin-right':0});
    $(document.body).addClass('modal-open'); // 禁止显示垂直滚动条
    iframe.attr('src', iframeSrc);
    event.stopPropagation();
  }

  function closeEditorPanel() {
    $('#editor_panel_body').animate({'margin-right':-1300});
    $(document.body).removeClass('modal-open'); // 取消禁止显示垂直滚动条
  }

  $(document).click(function(event){
    var _con = $('#editor_panel_body iframe');   // 设置目标区域
    if(!_con.is(event.target) && _con.has(event.target).length === 0){ // Mark 1
      closeEditorPanel();         //淡出消失
    }
  });
</script>

</body>
</html>