<!DOCTYPE html>
<html lang="en">
<head>
    <include file="Public:metra"/>
  <!--样式-->
  <include file="Public:css"/>
  <!--样式end-->
  
  <!-- HTML5 Support for IE -->
  <!--[if lt IE 9]>
  <script src="js/html5shim.js"></script>
  <![endif]-->

</head>


<body>
<!--导航-->
<include file="Public:nav"/>
<!--导航end-->


<!--头部-->
<include file="Public:header"/>
<!--头部end-->

<!-- Main content starts -->

<div class="content">

      <!--菜单-->
  <include file="Public:menu"/>
  <!--菜单end-->

  	<!-- Main bar -->
  	<div class="mainbar">

      <!--面包屑导航-->

      <include file="Public:bread"/>

      <!--面包屑导航end-->



	    <!-- Matter -->

	    <div class="matter">
        <div class="container">

          <div class="row">

            <div class="col-md-12">


              <div class="widget wgreen">
                
                <div class="widget-head">
                  <div class="pull-left">增加引导页</div>
                  <div class="widget-icons pull-right">
                    <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a> 
                    <a href="#" class="wclose"><i class="icon-remove"></i></a>
                  </div>
                  <div class="clearfix"></div>
                </div>

                <div class="widget-content">
                  <div class="padd">
                    <hr />
                    <!-- Form starts.  -->
                     <form class="form-horizontal" role="form" action="{:U('Start/add')}" method="post">
                                <div class="form-group">
                                  <label class="col-lg-4 control-label">标题</label>
                                  <div class="col-lg-8">
                                    <input type="text" class="form-control" placeholder="请输入标题" name="title">
                                  </div>
                                </div>
                                
                                <div class="form-group">
                                  <label class="col-lg-4 control-label">副标题</label>
                                  <div class="col-lg-8">
                                    <input type="text" class="form-control" placeholder="请输入副标题" name="subtitle">
                                  </div>
                                </div>
                                    <hr />
                                <div class="form-group">
                                  <div class="col-lg-offset-1 col-lg-9">
                                    <button  class="btn btn-primary">提交</button>
                                  </div>
                                </div>
                              </form>
                  </div>
                </div>
                  <div class="widget-foot">
                    <!-- Footer goes here -->
                  </div>
              </div>  

            </div>

          </div>

        </div>
		  </div>

		<!-- Matter ends -->

    </div>

   <!-- Mainbar ends -->	    	
   <div class="clearfix"></div>

</div>
<!-- Content ends -->

<!--foot-->
<include file="Public:foot"/>
<!--foot end-->

<!-- Scroll to top -->
<span class="totop"><a href="#"><i class="icon-chevron-up"></i></a></span>

<!--js-->
<include file="Public:js"/>
<!--js end-->

</body>
</html>