<!-- Header starts -->
<header>
    <div class="container">
        <div class="row">

            <!-- Logo section -->
            <div class="col-md-4">
                <!-- Logo. -->
                <div class="logo">
                    <h1><a href="#"><span class="bold" style="margin-right: 2%;"><img src="__ADMIN__/logo.png" width="60" height="60"></span>圣云后台</a></h1>
                </div>
                <!-- Logo ends -->
            </div>

            <!-- Button section -->


            <!-- Data section -->

            <div class="col-md-8" style="text-align: right">
                <div class="header-data">

                    <!-- Members data -->
                    <div class="hdata">
                        <div class="mcol-left">
                            <!-- Icon with blue background -->
                            <i class="icon-user bblue"></i>
                        </div>
                        <div class="mcol-right">
                            <!-- Number of visitors -->
                            <p><em>登录次数</em><a href="#">{$user['count']}</a> </p>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <!-- Traffic data -->
                    <div class="hdata">
                        <div class="mcol-left">
                            <!-- Icon with red background -->
                            <i class="icon-signal bred"></i>
                        </div>
                        <div class="mcol-right">
                            <!-- Number of visitors -->
                            <p><em>上次登录时间</em><a href="#">{$logintime}</a> </p>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <!-- revenue data -->
                    <!--<div class="hdata">-->
                        <!--<div class="mcol-left">-->
                            <!--&lt;!&ndash; Icon with green background &ndash;&gt;-->
                            <!--<i class="icon-money bgreen"></i>-->
                        <!--</div>-->
                        <!--<div class="mcol-right">-->
                            <!--&lt;!&ndash; Number of visitors &ndash;&gt;-->
                            <!--<p><em>发表文章</em><a href="#">{$wcount}篇</a></p>-->
                        <!--</div>-->
                        <!--<div class="clearfix"></div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Header ends -->