<!-- JS -->
<script src="__ADMIN__/js/jquery.js"></script> <!-- jQuery -->
<script src="__ADMIN__/js/bootstrap.js"></script> <!-- Bootstrap -->
<script src="__ADMIN__/js/jquery-ui-1.9.2.custom.min.js"></script> <!-- jQuery UI -->
<script src="__ADMIN__/js/fullcalendar.min.js"></script> <!-- Full Google Calendar - Calendar -->
<script src="__ADMIN__/js/jquery.rateit.min.js"></script> <!-- RateIt - Star rating -->
<script src="__ADMIN__/js/jquery.prettyPhoto.js"></script> <!-- prettyPhoto -->

<!-- jQuery Flot -->
<script src="__ADMIN__/js/excanvas.min.js"></script>
<script src="__ADMIN__/js/jquery.flot.js"></script>
<script src="__ADMIN__/js/jquery.flot.resize.js"></script>
<script src="__ADMIN__/js/jquery.flot.pie.js"></script>
<script src="__ADMIN__/js/jquery.flot.stack.js"></script>

<!-- jQuery Notification - Noty -->
<script src="__ADMIN__/js/jquery.noty.js"></script> <!-- jQuery Notify -->
<script src="__ADMIN__/js/themes/default.js"></script> <!-- jQuery Notify -->
<script src="__ADMIN__/js/layouts/bottom.js"></script> <!-- jQuery Notify -->
<script src="__ADMIN__/js/layouts/topRight.js"></script> <!-- jQuery Notify -->
<script src="__ADMIN__/js/layouts/top.js"></script> <!-- jQuery Notify -->
<!-- jQuery Notification ends -->

<script src="__ADMIN__/js/sparklines.js"></script> <!-- Sparklines -->
<script src="__ADMIN__/js/jquery.cleditor.min.js"></script> <!-- CLEditor -->
<script src="__ADMIN__/js/bootstrap-datetimepicker.min.js"></script> <!-- Date picker -->
<script src="__ADMIN__/js/bootstrap-switch.min.js"></script> <!-- Bootstrap Toggle -->
<script src="__ADMIN__/js/filter.js"></script> <!-- Filter for support page -->
<script src="__ADMIN__/js/custom.js"></script> <!-- Custom codes -->
<script src="__ADMIN__/js/charts.js"></script> <!-- Charts & Graphs -->
<script src="__ADMIN__/js/bootstrap-multiselect.js"></script>

<script src="__Common__/layer/layer.js"></script>


<!-- Script for this page -->