<!DOCTYPE html>
<html lang="en">
<head>
  <include file="Public:metra"/>
  <!--样式-->
  <include file="Public:css"/>
  <!--样式end-->

  <!-- HTML5 Support for IE -->
  <!--[if lt IE 9]>
  <script src="js/html5shim.js"></script>
  <![endif]-->

</head>

<body>

<!--导航-->
<include file="Public:nav"/>
<!--导航end-->

<!--头部-->
<include file="Public:header"/>
<!--头部end-->

<!-- Main content starts -->

<div class="content">

     <!--菜单-->
  <include file="Public:menu"/>
  <!--菜单end-->

  	<!-- Main bar -->
  	<div class="mainbar">

      <!--面包屑导航-->

      <include file="Public:bread"/>

      <!--面包屑导航end-->
	    <!-- Matter -->
	    <div class="matter">
        <div class="container">
          <!-- Table -->
            <div class="row">
              <div class="col-md-12">

                <div class="widget">

                  <div class="widget-head">
                    <div class="pull-left">
                      <a  class="btn btn-default" id="Com_add">电脑支付</a>
                      <a  class="btn btn-default" id="Com_check">交易查询</a>
                      <a  class="btn btn-default" id="Com_check">退款</a>
                      <a  class="btn btn-default" id="Com_check">退款查询</a>
                    </div>
                    <div class="widget-icons pull-right">
                      <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a>
                      <a href="#" class="wclose"><i class="icon-remove"></i></a>
                    </div>
                    <div class="clearfix"></div>
                  </div>

                  <div class="widget-content">

                  </div>

                </div>

                <div class="widget">

                  <div class="widget-head">
                    <div class="pull-left">
                      <a  class="btn btn-default" id="Com_add">电脑支付</a>
                      <a  class="btn btn-default" id="Com_check">交易查询</a>
                      <a  class="btn btn-default" id="Com_check">退款</a>
                      <a  class="btn btn-default" id="Com_check">退款查询</a>
                    </div>
                    <div class="widget-icons pull-right">
                      <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a>
                      <a href="#" class="wclose"><i class="icon-remove"></i></a>
                    </div>
                    <div class="clearfix"></div>
                  </div>

                  <div class="widget-content">

                  </div>

                </div>

                <div class="widget">

                <div class="widget-head">
                  <div class="pull-left">栏目（{$count}）</div>
                  <div class="widget-icons pull-right">
                    <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a> 
                    <a href="#" class="wclose"><i class="icon-remove"></i></a>
                  </div>  
                  <div class="clearfix"></div>
                </div>

                  <div class="widget-content">

                    <table class="table table-striped table-bordered table-hover">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>栏目名称</th>
                          <th>类型</th>
                          <th>状态</th>
                          <!--<th>操作</th>-->
                        </tr>
                      </thead>
                      <tbody>
                      <volist name="list" id="vo">
                        <tr id="{$vo.id}">
                          <td>{$vo.id}</td>
                          <td><a style="color:#ff9f00;" class="openRecord" url="{:U('columu/edit',array('id'=>'accountId'))}">{$vo.name}</a></td>
                          <td>
                            <if condition="$vo['type'] eq 1">
                              <span>文章</span>
                            </if>
                            <if condition="$vo['type'] eq 2">
                              <span>导航</span>
                            </if>
                          </td>
                          <td>
                            <if condition="$vo['state'] eq 1">
                              <span>启用</span>
                            </if>
                            <if condition="$vo['state'] eq 0">
                              <span>未启用</span>
                            </if>
                            <if condition="$vo['state'] eq 2">
                              <span>删除</span>
                            </if>
                          </td>
                          <!--<td>-->

                              <!--<a  href="{:U('columu/put', array('id'=>$vo['id']))}"  class="btn btn-xs btn-success"><i class="icon-ok"></i> </a>-->
                              <!--<a  href="{:U('columu/down', array('id'=>$vo['id']))}" class="btn btn-xs btn-info"><i class="icon-arrow-down"></i> </a>-->
                              <!--<a  href="{:U('columu/del', array('id'=>$vo['id']))}"  class="btn btn-xs btn-danger"><i class="icon-remove"></i> </a>-->
                              <!--<a  href="{:U('columu/edit', array('id'=>$vo['id']))}" class="btn btn-xs btn-warning"><i class="icon-pencil"></i> </a>-->
                          <!---->
                          <!--</td>-->
                        </tr>
                      </volist>
                      </tbody>
                    </table>

                    <div class="widget-foot">
                        <ul class="pagination pull-right">
                          {$page}
                        </ul>
                      <div class="clearfix"></div>
                    </div>

                  </div>

                </div>

              </div>
            </div>
        </div>
		  </div>
		<!-- Matter ends -->

      <div id="editor_panel">
        <div id="editor_panel_body" style="margin-right: -1000px;">
          <iframe src="" frameborder="0" id="account-iframe"></iframe>
        </div>
      </div>
    </div>

   <!-- Mainbar ends -->	    	
   <div class="clearfix"></div>

</div>
<!-- Content ends -->

<!--foot-->
<include file="Public:foot"/>
<!--foot end-->

<!-- Scroll to top -->
<span class="totop"><a href="#"><i class="icon-chevron-up"></i></a></span>

<!--js-->
<include file="Public:js"/>
<!--js end-->

<script>
  //支付宝支付
  $("#Com_add").click(function(){
    var url = "{:U('Alipay/add')}";
    layer.open({
      type: 2,
      title: '电脑支付宝支付',
      closeBtn: 0, //不显示关闭按钮
      shadeClose: true,
      shade: [0],
      area: ['900px', '600px'],
      //offset: 'rb', //右下角弹出
      //time: 2000, //2秒后自动关闭
      anim: 2,
      content: [url,'no'], //iframe的url，no代表不显示滚动条
    });
  });

  //交易查询
  $("#Com_check").click(function(){
    var url = "{:U('Alipay/check')}";
    layer.open({
      type: 2,
      title: '交易查询',
      closeBtn: 0, //不显示关闭按钮
      shadeClose: true,
      shade: [0],
      area: ['900px', '600px'],
      //offset: 'rb', //右下角弹出
      //time: 2000, //2秒后自动关闭
      anim: 2,
      content: [url,'no'], //iframe的url，no代表不显示滚动条
    });
  });

  //退款


</script>

<script>
  $('.openRecord').click(function(event){
    var index = layer.load(2, {
      content: '数据加载中',
      shade: [0.4, '#393D49'],
      // time: 10 * 1000,
      success: function(layero) {
        layero.css('padding-left', '30px');
        layero.find('.layui-layer-content').css({
          'padding-top': '40px',
          'width': '70px',
          'background-position-x': '16px'
        });
      }
    })
    var _iframe = $('#editor_panel_body iframe');
    //获取这个职工的id
    accountId = $(this).parents('tr').attr('id');
    //生成url链接
    var url=$(this ).attr('url');
    //替换参数
    str1 =  url.replace("accountId",accountId);
    openEditorPanel(_iframe, str1, event);
    layer.close(index);
  });

  function openEditorPanel(iframe, iframeSrc, event) {
    $('#editor_panel_body').animate({'margin-right':0});
    $(document.body).addClass('modal-open'); // 禁止显示垂直滚动条
    iframe.attr('src', iframeSrc);
    event.stopPropagation();
  }

  function closeEditorPanel() {
    $('#editor_panel_body').animate({'margin-right':-1000});
    $(document.body).removeClass('modal-open'); // 取消禁止显示垂直滚动条
  }

  $(document).click(function(event){
    var _con = $('#editor_panel_body iframe');   // 设置目标区域
    if(!_con.is(event.target) && _con.has(event.target).length === 0){ // Mark 1
      closeEditorPanel();         //淡出消失
    }
  });
</script>

</body>
</html>